// String Table 
// Generated Form:	C:\Projects\LucentTechnologiesSP\JobAdmin\JobAdmin Resource.doc
// Generated On: 	05/06/97 9:17 AM
#include "C:\Projects\LucentTechnologiesSP\JobAdmin\JobAdminResource.h"
STRINGTABLE
BEGIN
//	Form captions
FORM_MAIN_CAPTION	"Job File Administration -- "
FORM_ADD_DATA_POINT	"Add Label Data Point"
FORM_OPEN_JOB_FILE	"Open Job File DB"
LABEL_SPLASH_LOGO	"3-Axis Label Applicator"
//	Menu captions
MNU_FILE	"&File "
MNU_EXIT	"E&xit"
MNU_OPEN	"&Open job file..."
MNU_HELP	"&Help"
MNU_CONTENTS	"&Contents"
MNU_SEARCH	"&Search"
MNU_ABOUT	"&About"
MNU_VIEW	"&View"
MNU_JOBS	"&Jobs"
MNU_GLOBAL	"&Global"
//	Tab control labels
TAB_JOBS	"Jobs"
TAB_GLOBAL	"Global"
//	Form labels
LABEL_JOB_NAME	"Name:"
LABEL_COMCODE	"Comcode:"
LABEL_STARTING_SN	"Starting serial number:"
LABEL_PLANT_CODE	"Plant code:"
LABEL_COMCODE_DB_PATH	"Comcode DB path"
LABEL_COMCODE_TABEL	"Comcode table name"
LABEL_TEMPLATE_NAME	"Label template name"
LABEL_TEMPLATE_PATH	"Label template path"
LABEL_TEMPLATE	"Label template"
LABEL_LOCATIONS	"Label locations"
LABEL_X_AXIS	"X Axis"
LABEL_Y_AXIS	"Y Axis"
LABEL_THATA	"0 or 90 deg"
LABEL_DATA_CONTROL	"Job file: "
LABEL_USE_GLOBAL_SN	"Use global serial numbers:"
LABEL_GLOBAL_SN	"Initial global serial number:"
LABEL_DEFLAT_PLANT_CODE	"Default plant code"
LABEL_LUCENT_YEAR	"Lucent year"
LABEL_LUCENT_WEEK	"Lucent week"
LABEL_FIRST_WEEK	"Code used for Lucent first week"
//	Command buttons captions
CMD_SAVE	"&Save"
CMD_DELETE	"&Delete"
CMD_NEW	"&New"
CMD_OK	"OK"
CMD_CANCEL	"Cancel"
//	Information messages
MSG_TITEL	"Job Administration Save Reminder"
MSG_GLOBAL_SAVE	"Changes to the global data were not saved.\012Do you want to save these changes?"
MSG_JOB_SAVE	"Changes to the job data were not saved.\012Do you want to save these changes?"
MSG_THATA_BAD	"Theta can only be 0 or 90 "
TITLE_BAD_ENTRY	"Entry Error"
//	Misalliances messages 
JOB_FILE_FILTER	"Job File (*.mdb)|*.mdb|All Files (*.*)|*.*"
//	Status help messages 
STMSG_JOB_FILE	"Job file administration."
STMSG_JOB_NAME	"User defined name for this job.  "
STMSG_COMCODE	"Comcode for this part"
STMSG_SERIAL	"Six (6) digit starting serial number for this part."
STMSG_PLANT_CODE	"Two (2) character plant code for this job.  "
STMSG_DB_PATH	"Full path including filename and extension of pwblabels DB. "
STMSG_TABLE_NAME	"Name of table in pwblabels DB.  "
STMSG_LABEL_NAME	"Name of label template.  "
STMSG_LABEL_PATH	"Full path including filename and extension of label template.  "
STMSG_LABEL_TEMPLATE	"The label template."
STMSG_LABEL_DATA	"Location and orientation of each label."
STMSG_NEW_DP	"Add a data point."
STMSG_SAVE_JOB	"Save changes to job.  "
STMSG_NEW_JOB	"Add a new job"
STMSG_DELETE	"Delete this job."
STMSG_DB_CONTROL	"Use arrow buttons to move through job file DB."
STMSG_GLOBAL	"Global Labeler data.  "
STMSG_USE_GLOBAL	"Check if serial numbers are not related to the comcode.  "
STMSG_INIT_SN	"Initial global serial number.  "
STMSG_PLANT_DEFALT	"Default plant code.  "
STMSG_YEAR_CODE	"Two (2) digit Lucent year code."
STMSG_CURRENT_WEEK	"Two (2) digit Lucent year code."
STMSG_WEEK_CODE	"Two (2) digit Lucent first week code.  "
STMSG_SAVE_GLOBAL	"Save changes in global settings."
STMSG_ADD_DP	"Add a data point."
STMSG_LABEL_X_AXIS	"X axis location in .01 mm.  "
STMSG_LABEL_Y_AXIS	"Y axis location in .01 mm."
STMSG_LABEL_THETA	"Orientation of label 0 or 90 deg."
STMSG_DP_OK	"Click to save label data point."
STMSG_DP_CANCEL	"Click to ignore label data point.  "
END
// End of String Resoruces
