// String Table 
// Generated Form:          S:\SoftwareDevelopment\Projects\Motorola_FL\Labeler\Resource.doc
// Generated On:            09/11/97 2:48 PM
#include "S:\SoftwareDevelopment\Projects\Motorola_FL\Labeler\Resources.h"
STRINGTABLE
BEGIN
//            General info
MY_NAME       "Motorola FL"
//            Control labels
CMD_RUN       "&Run"
CMD_AUTO_RUN  "Auto &Run"
CMD_RUNNING   "Running"
CMD_IDLE      "Idle"
CMD_STOP      "&Stop"
CMD_RESET     "Reset"
CMD_OPEN_JOB  "&Open"
CMD_EXIT      "E&xit"
CMD_OK        "OK"
CMD_CANCEL    "Cancel"
CND_NEW_JOB   "&New Job"
CMD_MANUAL_FEED             "Manual Print"
//            Form captions
FORM_MAIN     "NexStep Label Applicator"
FORM_MAIN_NO_JOB            " [No Job] "
FORM_MAIN_IDLE              " [Idle]"
FORM_MAIN_RUNNING           " [Running]"
FORM_MAIN_INTERRUPTED       " [Interrupted]"
FORM_MAIN_HOLDING           " [Holding]"
FORM_OPEN_JOB "Open Job"
FORM_OPEN_JOB_INIT          "Job Initialization"
FORM_ABOUT    "3-Axis Label Applicator"
FORM_MESSAGE_BOX            "Labeler"
FORM_HISTORY  "Labeler event history"
FORM_OPEN_JOB_FILE          "Open Job Database"
FORM_PTRSETUP "Printer Setup"
FORM_PTRSETUP_IMAGE         "Image offset"
FORM_PTRSETUP_DENSTY        "Image darkness"
//            Label captions
LABEL_ABOUT_VERSIONS        "Versions:"
LABEL_SPLASH_LOGO           "Label Applicator"
LABEL_MAIN_IDEL             "Press to Run"
LABEL_MAIN_RUNNING          "Press to Stop"
LABEL_MAIN_INTERRUPTED      "Press to Reset"
LABEL_MAIN_HOLDING          "Press to Restart"
LABEL_MAIN_DISABLED         "No job"
LABEL_MAIN_NAME             "Job name:"
LABEL_MAIN_PARTNUMBER       "Kit Number:"
LABEL_MAIN_QUANTITY         "Quantity Labeled:"
LABEL_MAIN_LAST_PRINTED     "Last Label"
LABEL_MAIN_SEQ_PRINTED      "-- Printed:"
LABEL_MAIN_SCANED           "-- Scanned:"
LABEL_OPEN_JOBES            "Jobs"
LABEL_OPEN_PARTNUMBER       "Kit Number"
LABEL_OPEN_GRID_NAME        "Name"
//            Menu captions
MNU_FILE      "&File "
MNU_EXIT      "E&xit"
MNU_OPEN      "&Open Job..."
MNU_OPEN_JOB_FILE           "Open Job &Database..."
MNU_PRINT_LABEL             "&Print a Label "
MNU_PRINTER_RELEASE         "Printer &Release"
MNU_RUN       "&Run "
MNU_STOP      "&Stop"
MNU_VIEW      "&View"
MNU_OPTIONS   "&Options"
MNU_HISTORY   "&History"
MNU_COMPORTS  "&Communications Ports"
MNU_DIGITAL_INPUTS          "Digital &Inputs"
MNU_DIGITAL_OUTPUTS         "Digital &Outputs"
MNU_MOTION    "&Motion"
MNU_PRINTER_OPTIONS         "&Printer Options ..."
MNU_HELP      "&Help"
MNU_CONTENTS  "&Labeler"
MNU_SEARCH    "&Search"
MNU_ABOUT     "&About"
//            Message labels 
LAB_DIG_OUT_VERSION         "Digital Output: "
LAB_DIG_IN_VERSION          "Digital Input "
LAB_MOVE_VERSION            "SA : "
LAB_MICROSCAN_ROM           "Microscan ROM: "
LAB_LABELER_VERSION         "Labeler: "
LAB_PRINT_VERSION           "Printer: "
BUZZER_ACKNOWLEDG_TITLE     "Buzzer Acknowledge"
//            Messages, status and others 
MSG_INIT_MOVE "Initializing SA Controller"
MSG_INIT_MOVE_OK            "SA Controller Initialized "
MSG_INIT_SCANNER            "Initializing Microscan"
MSG_INIT_SCANNER_OK         "Microscan Initialized "
MSG_INIT_LABELER            "Initializing Labeler "
MSG_INIT_LABELER_OK         "Labeler Initialized"
MSG_INIT_DIG_IO             "Initializing Digital I/O"
MSG_INIT_PRINT              "Initializing Printer"
MSG_INIT_PRINT_OK           "Printer Initialized"
MSG_INIT_DIG_OK             "Digital I/O Initialized "
MSG_INIT_MAIN_FORM          "Initializing Main Form"
MSG_STAT_LABLER_READY       "Labeler initialized successfully and ready for a job  "
MSG_STAT_JOB_LOADED_READY   "Job loaded and ready to run"
MSG_STAT_JOB_READY          "Ready to run"
MSG_STAT_JOB_RUNNING        "Job running"
MSG_STAT_JOB_COMPLETE       "Job completed"
MSG_STAT_PANEL_COMPLETE     "Panel complete"
MSG_STAT_PANEL_LABELING     "Panel labeling in process"
MSG_STAT_LABELING_INTERRUPTED             "Labeling interrupted"
MSG_STAT_LABELING_HOLDING   "Labeler in hold mode"
TITLE_PTR_OPTIONS           "Labeler -- Printer options out of Range"
MSG_X_HOME    "The label symoblogy home X is out of range.\012Should be between: "
MSG_Y_HOME    "The label symoblogy home Y is out of range.\012Should be between: "
MSG_DARKNESS  "The label symoblogy home darkness setting is out of range.\012Should be between: "
MSG_MISS_SCAN_BUZZER        "Label miss scan, press OK to turn off the buzzer and display the instruction dialog box.   "
MSG_NO_PICKUP_BUZZER        "Label miss pickup, press OK to turn off the buzzer and display the instruction dialog box.   "
MSG_AIR_LOSS_BUZZER         "Labeler lost air, press OK to turn off the buzzer and display the instruction dialog box."
MSG_GUARD_DOORS_OPEN_BUZZER "Guard doors open, press OK to turn off the buzzer and display the instruction dialog box."
MSG_MOTION_ERROR_BUZZER     "SA indicated a motion error, press OK to turn off the buzzer and display the instruction dialog box."
MSG_NO_MOVE_BUZZER          "Arm failed to complete its move, press OK to turn off the buzzer and display the instruction dialog box."
MSG_NO_RECTRACT_BUZZER      "Actuator failed to retract, press OK to turn off the buzzer and display the instruction dialog box."
//            Misalliances messages 
TITLE_DB_ERROR              "Labeler DB Error"
JOB_NOT_IN_DB "was not found in job database.  "
PRESS_OK      "Press OK to continue."
JOB_COMPLETE_MSG            "Current job is complete.  \012Press OK to continue."
JOB_COMPLETE_TITLE          "Current Job Complete"
STARTED_HISTORY             "Started: "
TEST_LABEL1   "$TEST1"
TEST_LABEL2   "+TEST2"
TEST_LABEL3   "$TEST3"
TEST_LABEL4   "1234"
MANUAL_FEED_LABEL1          "MANUAL"
MANUAL_FEED_LABEL2          "FEEDED"
MANUAL_FEED_LABEL3          "LABELER"
MANUAL_FEED_LABEL4          "0000"
MANUAL_FEED_MSG             "Manual Feed"
LABEL_PICKUP_ERROR          "Label failed to pickup"
LABEL_SCAN_ERROR            "Label failed to scan"
LOW_LABEL     "Labels are low"
MOTION_ERROR  "Motion error"
MOTION_ERROR_MSG            "Labeler detected a motion error.  Press OK to reset labeler."
OPERATION_ERROR_TITLE       "Operation Error"
AIR_PRESSURE_LOSS           "Air pressure lost"
AIR_LOSS_MSG  "Air pressure lost.  Restore air pressure and press OK to reset the labeler.  "
NO_MOVE       "Arm did not move.  "
NO_RECTRACT   "Arm did not retract.  "
APPLICATOR_BYPASS           "In applicator bypass mode"
GUARD_DOOR_OPEN             "Guard door(s) open.  "
GUARD_DOOR_OPEN_MSG         "Guard doors open while not in hold mode.  Close the guard doors and press OK to reset the labeler.  "
HOLD_MODE     "Hold switch on"
RESETTING_MOTION            "Resetting actuator"
PRINTER_NOT_ENGUAGED        "Printer is not engaged"
HOMING_MOTION "Homing actuator"
MOVING_PRINTER              "Moving to pickup ready position.  "
INITIALIZING_JOB            "Initializing Job"
LOADING_JOB_DATA            "Loading job data"
LOADING_PRINTER_DATA        "Loading printer data"
LOADING_LABEL_POINT_TABEL   "Loading label location table"
WRITING_SCANNER_OFFSETS_TO_IAI            "Writing scanner offsets to IAI"
END_OF_YEAR_TITLE           "Labeler Job End of Year"
LABEL_INSTRUCTIONS_RUN      "Press:\012   R - to run\012   F3 Manual Print"
LABEL_INSTRUCTIONS_STOP     "Press:\012   S - to stop"
DOORS_AIR_BYPASS            "Labeler has found that the Guard Doors Are Open or the Air Pressure is Low or in Applicator Bypass Mode.  These must be cleared before job selection or labeling can commence.  See the main form for the specific condition.\012\012 To continue press OK when condition is cleared."
APP_SUSPENDED_TITLE         "Labeler Suspended  "
JOB_FILE_FILTER             "Job File (*.mdb)|*.mdb|All Files (*.*)|*.*"
//            Error messages 
ERR_SCANNER_NO_INIT         "Microscan controller failed to initialize."
ERR_MOVE_NO_INIT            "SA controller failed to initialize."
ERR_DIG_NO_INIT             "Digital I/O controller failed to initialize."
ERR_LABELER_NO_INIT         "Labeler failed to initialize."
ERR_MAIN_FORM_NO_INIT       "Main form failed to initialize. "
ERR_PRINTER_NO_INIT         "Printer failed to initialize."
ERR_PTR_TPLATE_NO_FILE      "File Not found: "
ERR_PRT_TPLATE_NO_PATH      "Path Not found: "
ERR_PRT_TPLATE_NO_HANDAL    "No file handle could be acquired."
ERR_NO_MOVE_MSG             "The actuator failed to move. "
ERR_MOTION_NOT_RESET        "The actuator failed to reset."
ERR_NULL_CONFIG_DATA        "The configuration database is corrupt.  Fix it using the JobAdmin program. Then restart the labeler program. "
ERR_INCORRECT_DARK_SETTIG   "The darkness setting with in the printer template is out of range.  "
ERR_INIT_PTR_OBJ            "Printer object dose not exists."
ERR_INIT_SCANNER_OBJ        "Scanner object dose not exists."
ERR_INIT_OUTPUT_OBJ         "Digital output object dose not exists."
ERR_INIT_INPUT_OBJ          "Digital input object dose not exists."
ERR_INIT_MOVE_OBJ           "Move object dose not exists"
ERR_OUT_OF_TIMERS           "Digital outputs is out of strobe timers.  "
ERR_INPUT_BIT_NOT_FOUND     "Digital input bit in Labeler.mdb was not found in Labeler program."
ERR_OUTPUT_BIT_NOT_FOUND    "Digital output bit in Labeler.mdb was not found in Labeler program."
ERR_NO_AIR    "The air  is not on.  Turn on and restart the Labeler program.  "
ERR_NO_CTRL_VOLTS           "The control 24volts is not on.  Turn on and restart the Labeler program.  "
ERR_NO_JOB_MATCH            "The following job was not find job in JobsDB.\012"
ERR_INIT_BECKON_OBJ         "Could not initialize the Beckon object."
ERR_BASE36_CONVERSION_ERROR "The sequence number could not be converted.  "
//            Job fault 
JOB_FAULT_CAPTION           "Labeler Job Fault  "
JOB_FALUT_JOB_ABORT         "Job will abort.  "
JOB_FAULT_MESSAGE           "The labeler program has detected the following message:"
ARM_NOT_RETRACTED           "Labeler arm not retracted.  "
END
// End of String Resoruces
