// String Table 
// Generated Form:	C:\Projects\LucentTechnologies\Labeler\Resource.doc
// Generated On: 	03/26/97 8:18 AM
#include "C:\Projects\LucentTechnologies\Labeler\Resources.h"
STRINGTABLE
BEGIN
//	Control labels
CMD_RUN	"&Run"
CMD_RUNNING	"Running"
CMD_IDLE	"Idle"
CMD_STOP	"&Stop"
CMD_RESET	"Reset"
CMD_OPEN_JOB	"&Open"
CMD_EXIT	"E&xit"
CMD_OK	"OK"
CMD_CANCEL 	"Cancel"
CND_NEW_JOB	"&New Job"
//	Form captions
FORM_MAIN	"NexStep 3-Axis Label Applicator"
FORM_MAIN_NO_JOB	" [No Job] "
FORM_MAIN_IDLE	" [Idle]"
FORM_MAIN_RUNNING	" [Running]"
FORM_MAIN_INTERRUPTED	" [Interrupted]"
FORM_MAIN_HOLDING	" [Holding]"
FORM_OPEN_JOB	"Open Job"
FORM_OPEN_JOB_INIT	"Job Initialization"
FORM_MESSAGE_BOX	"Labeler"
FORM_HISTORY	"Labeler event history"
FORM_OPEN_JOB_FILE	"Open Job Database"
//	Label captions
LABEL_ABOUT_VERSIONS	"Versions:"
LABEL_SPLASH_LOGO	"3-Axis Label Applicator"
LABEL_MAIN_IDEL	"Press to Run"
LABEL_MAIN_RUNNING	"Press to Stop"
LABEL_MAIN_INTERRUPTED	"Press to Reset"
LABEL_MAIN_HOLDING	"Press to Restart"
LABEL_MAIN_DISABLED	"No job"
LABEL_MAIN_PARTNUMBER	"Concode:"
LABEL_MAIN_QUANTITY	"Quantity:"
LABEL_MAIN_LAST_LABEL	"Last label:"
LABEL_MAIN_PRINTED	"Printed:"
LABEL_MAIN_SCANED	"Scanned: "
LABEL_MAIN_NAME	"Job name:"
LABEL_OPEN_JOBES	"&Jobs:"
LABEL_OPEN_SN	"Last &serial number used:"
LABEL_OPEN_QUANTITY	"&Quantity:"
LABEL_OPEN_GRID_PN	"Concode"
LABEL_OPEN_GRID_NAME	"Name"
//	Menu captions
MNU_FILE	"&File "
MNU_EXIT	"E&xit"
MNU_OPEN	"&Open Job..."
MNU_OPEN_JOB_FILE	"Open Job &Database..."
MNU_PRINT_LABEL	"&Print a Label "
MNU_RESET	"&Reset"
MNU_RESET_PRINTER	"&Printer"
MNU_RESET_IAI	"&IAI"
MNU_RESET_SCANNER	"&Scanner"
MNU_RUN	"&Run"
MNU_STOP	"&Stop"
MNU_VIEW	"&View"
MNU_OPTIONS	"&Options"
MNU_HISTORY	"&History"
MNU_COMPORTS	"&Communications Ports"
MNU_DIGITAL_IO	"&Digital I/O"
MNU_HELP	"&Help"
MNU_CONTENTS	"IAI &Codes"
MNU_SEARCH	"&Search"
MNU_ABOUT	"&About"
//	Message lables 
LAB_DIG_VERSION	"CompuBoard: "
LAB_IAI_VERSION	"IAI: "
LAB_MICROSCAN_ROM	"Microscan ROM: "
LAB_LABELER_VERSION	"Labeler: "
LAB_PRINT_VERSION	"Zebra: "
//	Messages, status and others 
MSG_INIT_IAI	"Initializing IAI Controller"
MSG_INIT_IAI_OK	"IAI Initialized "
MSG_INIT_SCANNER	"Initializing Microscan"
MSG_INIT_SCANNER_OK	"Microscan Initialized "
MSG_INIT_LABELER	"Initializing Labeler "
MSG_INIT_LABELER_OK	"Labeler Initialized"
MSG_INIT_DIG_IO	"Initializing CompuBoard"
MSG_INIT_PRINT	"Initializing Zebra"
MSG_INIT_PRINT_OK	"Zebra Initialized"
MSG_INIT_DIG_OK	"CompuBoard Initialized "
MSG_INIT_MAIN_FORM	"Initializing Main Form"
MSG_STAT_LABLER_READY	"Labeler initialized successfully and ready for a job  "
MSG_STAT_JOB_LOADED_READY	"Job loaded and ready to run"
MSG_STAT_JOB_READY	"Ready to run"
MSG_STAT_JOB_RUNNING	"Job running"
MSG_STAT_JOB_COMPLETE	"Job completed"
MSG_STAT_PANEL_COMPLETE	"Panel complete"
MSG_STAT_PANEL_LABELING	"Panel labeling in process"
MSG_STAT_LABELING_INTERRUPTED	"Labeling interrupted"
MSG_STAT_LABELING_HOLDING	"Labeler in hold mode"
//	Misalliances messages 
JOB_COMPLETE_MSG	"Current job is complete.  \012Press OK to continue."
JOB_COMPLETE_TITLE	"Current Job Complete"
STARTED_HISTORY	"Started: "
TEST_LABEL	"$TEST-LABEL+"
MANUAL_FEED_LABEL	"MANUAL..FEED"
MANUAL_FEED_MSG	"Manual Feed"
LABEL_PICKUP_ERROR	"Label failed to pickup"
LABEL_PICKUP_INSTRUCTIONS	"The label was not picked up correctly.  \012Put into hold mode and clear label applicator. \012Put into run mode and press OK to continue.  "
LOW_LABEL	"Labels are low"
CONVEYOR_ERROR	"Conveyor error"
CONVEYOR_ERROR_MSG	"Labeler  detected a conveyor error.   Clear the conveyor and press OK to reset labeler."
OPERATION_ERROR_TITLE	"Operation Error"
AIR_PRESSURE_LOSS	"Air pressure lost"
AIR_LOSS_MSG	"Air pressure lost.  Restore air pressure and press OK to reset the labeler.  "
APPLICATOR_BYPASS	"In applicator bypass mode"
GUARD_DOOR_OPEN	"Guard door(s) open.  "
GUARD_DOOR_OPEN_MSG	"Guard doors open while not in hold mode.  Close the guard doors and press OK to reset the labeler.  "
HOLD_MODE	"Hold switch on"
RESETTING_IAI	"Resetting IAI"
WRITING_CARD	"Writing IAI data to memory card"
INITIALIZING_JOB	"Initializing Job"
LOADING_JOB_DATA	"Loading job data"
LOADING_PRINTER_DATA	"Loading printer data"
LOADING_LABEL_POINT_TABEL	"Loading label location table"
WRITING_SCANNER_OFFSETS_TO_IAI	"Writing scanner offsets to IAI"
END_OF_YEAR_TITLE	"Labeler Job End of Year"
END_OF_YEAR_MESSAGE	"Labeler has determined it is the last week in the year.  Is this the 53rd week of this year?  Press Yes if this is Lucent’s 53 week of this year or press No if this is Lucent’s  first week of next year.    "
DOORS_AIR_BYPASS	"Labeler has found that the Guard Doors Are Open or the Air Pressure is Low or in Applicator Bypass Mode.  These must be cleared before job selection or labeling can commence.  See the main form for the specific condition.\012\012 To continue press OK when condition is cleared."
APP_SUSPENDED_TITLE	"Labeler Suspended  "
JOB_FILE_FILTER	"Job File (*.mdb)|*.mdb|All Files (*.*)|*.*"
//	Error messages 
ERR_SCANNER_NO_INIT	"Microscan controller failed to initialize."
ERR_IAI_NO_INIT	"IAI controller failed to initialize."
ERR_DIG_NO_INIT	"CompuBoard controller  failed to initialize."
ERR_LABELER_NO_INIT	"Labeler failed to initialize."
ERR_MAIN_FORM_NO_INIT	"Main form failed to initialize. "
ERR_PRINTER_NO_INIT	"Zebra printer failed to initialize."
ERR_PTR_TPLATE_NO_FILE	"File Not found: "
ERR_PRT_TPLATE_ON_PATH	"Path Not found: "
ERR_PRT_TPLATE_ON_HANDAL	"No file handle could be acquired."
ERR_X_DATA_NEG	"Label X value is negative, value = "
ERR_Y_DATA_NEG	"Label y value is negative, value ="
ERR_Z_DATA_NEG	"Label Z value is negative, value = "
ERR_TH_DATA_NEG	"Label Theta value is negative, value ="
ERR_NULL_CONFIG_DATA	"The configuration database is corrupt, fix using the JobAdmin program, and restart the labeler program. "
END
// End of String Resoruces
